* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    height: 100vh;
    background-color: grey;
    display: grid;
    grid-template-columns: 60% 1fr;
}

.builder {
    height: 100%;
    width: 100%;
    background-color: white;
}

.preview {
    border: 3px solid black;
    width: 69.3vh;
    height: 90vh;
    justify-self: center;
    align-self: center;
    background-color: white;
}